// _variables.scss

// 색상 변수
$primary-color: #D08C95;
$secondary-color: #FAF8F8;
$border-color:#f9f5f5;
$btn-bg-color: #E8DFDF;
$btn-text-color: #A09191;
$pink-bg-color-01: #FDFAFA;
$pink-bg-color-02: #FBF5F5;
$pink-bg-color-03: #FEFBFB;
$pink-bg-color-04: #E2C1C5;
$pink-text-color: #D5969E;
$blue-text-color: #3673A6;
$brown-text-color: #B76839;
$black-text-color: #262626;
$white-text-color: #fff;

// 여백 변수
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
